body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-image: url('./images/depositphotos_108911580-stock-photo-food-ingredients-on-black-background.jpg'); 
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

header {
    background-color: #181818;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

header nav {
    display: flex; 
    gap: 15px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

header nav a:hover {
    opacity: 0.8;
    font-size: 18px; 
}

.hero {
    text-align: center;
    padding: 50px;
    width: 100%;
    backdrop-filter: blur(0.4rem);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero button {
    background-color: #181818;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
   opacity: 0.7;
}

.recipes {
    padding: 30px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-card {
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.recipe-card h3 {
    margin: 10px 0;
}

footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #181818;
}

.hidden {
    display: none;
}

img{
    height: 700px;
    width: 450px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #fff;
}